<mat-card>
    <mat-card-header>
        <mat-card-title> Users List</mat-card-title>
      </mat-card-header>
    <mat-card-content>
<table class="table table-striped">
    <thead>
        <tr><td colspan="6"><button style="float: right;" class="btn btn-sm btn-primary me-1" (click)="AddNew()">Add New</button></td> </tr>
        <tr>
            <th style="width: 10%">User Id</th>
            <th style="width: 20%">User Name</th>
            <th style="width: 20%">Mobile No</th>
            <th style="width: 20%">Email</th>
            <th style="width: 20%">Password</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userDetailsList">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td style="white-space: nowrap">
                
                <!-- <a routerLink="edit/{{user.userid}}" class="btn btn-sm btn-primary me-1">Edit</a> -->
                <!-- <button (click)="deleteUser(user.userid)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button> -->
            </td>
        </tr>
        <!-- <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr> -->
    </tbody>
</table>
</mat-card-content>
</mat-card>