<mat-card>
    <mat-card-header>
      <mat-card-title>Add Cashback Details</mat-card-title>
  
    </mat-card-header>
  
    <mat-card-content>
      <div class="mat-elevation-z8" style="padding: 10px;">
        <table class="example-full-width" cellspacing="0" >
          <tr>
            <th style="width: 10%;font-weight: normal;">ID</th>
            <th style="width: 10%;font-weight: normal;">Vehicle No</th>
            <th style="width: 10%;font-weight: normal;">Policy Copy</th>
            <th style="width: 15%;font-weight: normal;">User</th>
            <th style="width: 5%;font-weight: normal;">Status</th>
          </tr>
          <tr>

            <td style="width: 10%;">{{this.requestData.policyCashbackRequestId}}</td>
            <td style="width: 10%;">{{this.requestData.vehicleNo}}</td>
            <td style="width: 10%;"><a target="_blank" href={{this.requestData.policyUrlM}}>View Policy Copy </a>
            </td>
            <td style="width: 15%;">{{this.requestData.userName}}</td>
            <td style="width: 5%;">{{this.requestData.status}}</td>
  
           
          </tr>
        </table>
      </div>
  
    </mat-card-content>
  
    <mat-card-content>
      <div class="mat-elevation-z8">
  
        <form class="example-form" [formGroup]="cashbackForm">
          <table class="example-full-width" cellspacing="0">
            <tr>           
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Premimum Amount</mat-label>
                  <input type="text" matInput formControlName="premiumAmount" placeholder="Premimum Amount">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Payout Amount</mat-label>
                  <input type="text" matInput formControlName="payoutAmount" placeholder="Payout Amount">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Status</mat-label>
                  <input type="text" matInput formControlName="status" placeholder="Status">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction ID</mat-label>
                  <input type="text" matInput formControlName="transactionID" placeholder="Transaction ID">
                </mat-form-field>
              </td>
             
            </tr>
  
            <tr>
                <td colspan="2">
                    <label>Transaction Proof1</label>
                    <input type="file" class="customFileUpload"  (change)="onFileSelected($event,1)" />
                   
                  </td>
                  <td colspan="2">
                    <label>Transaction Proof2</label>
                    <input type="file" class="customFileUpload"  (change)="onFileSelected($event,2)" />
                   
                  </td>
                 
            </tr>
            <tr>
              <td colspan="4" style="float: right; margin-top: 10px;">
                <button type="submit" class="btn btn-sm btn-primary me-1" (click)="AddCashbackDetails()">Add</button>
                <button type="submit" class="btn btn-sm btn-primary me-1"
                  routerLink="/cashback/cashback-view">Cancel</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </mat-card-content>
     <mat-card-content>
  
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. MP09" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="gridData" matSort>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
          </ng-container>
          <ng-container matColumnDef="vehicleNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No </th>
            <td mat-cell *matCellDef="let row"> {{row.vehicleNo}} </td>
          </ng-container>
          <ng-container matColumnDef="cashbackAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
            <td mat-cell *matCellDef="let row"> {{row.cashbackAmount}} </td>
          </ng-container>
          <ng-container matColumnDef="premimumAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Premium Amount </th>
            <td mat-cell *matCellDef="let row"> {{row.premimumAmount}} </td>
          </ng-container>
  
          <ng-container matColumnDef="transactionDetails">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Details </th>
            <td mat-cell *matCellDef="let row"> {{row.transactionDetails}} </td>
          </ng-container>
  
          <ng-container matColumnDef="transactionProof1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Proof1</th>
            <td mat-cell *matCellDef="let row">
              <a target="_blank" href={{row.transactionProof1}}>Proof1 </a>
          </ng-container>

          <ng-container matColumnDef="transactionProof2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Proof2</th>
            <td mat-cell *matCellDef="let row">
              <a target="_blank" href={{row.transactionProof2}}>Proof2 </a>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>
  
          <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row"> <button class="btn btn-sm btn-primary me-1"
                (click)="deleteQuotation(row.offlineQuotationDetailsId)">Delete Quote</button> </td>
          </ng-container> -->
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
  
    </mat-card-content>
  </mat-card>