<mat-card>
  <mat-card-header>
    <mat-card-title> State Add</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <form class="example-form" [formGroup]="stateForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="email" matInput formControlName="state_name" placeholder="Name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Code</mat-label>
                <input type="email" matInput formControlName="state_code" placeholder="Code">
              </mat-form-field>
            </td>

          </tr>
          <tr>
            <td colspan="2"> 
              <button type="submit" [disabled]="stateForm.invalid">Add</button>
              <button type="submit" [disabled]="stateForm.invalid">Cancel</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-card-content>
</mat-card>