<mat-toolbar color="primary" style="width: 100%;">
   
    <span>Insurance Admin</span>
    <span class="example-spacer"></span>
    <div style="float: right;"> Welcome  {{user?.firstName}}<button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button></div>
    
    
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <span *ngFor="let item of menu">
              <span *ngIf="item.children && item.children.length > 0">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <!-- Cabeceras del submenu -->
                        <div fxLayout="row" fxLayoutAlign="space-between" > 
                          <!-- <mat-icon>{{item.iconName}}</mat-icon> -->
                          {{item.displayName}}
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <span *ngFor="let child of item.children">
                      <mat-list-item>
                       
                        <!-- Entradas de cada submenú  -->
                        <div fxLayout="row" fxLayoutAlign="space-between center" > 
                            <a routerLink="{{child.route}}" routerLinkActive="active">{{child.displayName}}</a>
                          <!-- <mat-icon>{{child.iconName}}</mat-icon>
                          {{child.displayName}}  -->
                        </div>
                      </mat-list-item>
                    </span>
                  </mat-expansion-panel>
                </mat-accordion>
              </span>
              <span *ngIf="!item.children || item.children.length === 0">
                <mat-list-item routerLink="[item.route]">
                  <!-- Entradas principales -->
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <!-- <mat-icon>{{item.iconName}}</mat-icon> -->
                    {{item.displayName}}
                  </div>
                </mat-list-item>
              </span>
            </span>
          </mat-nav-list>
      <!-- <mat-nav-list>
        <a mat-list-item>
          <span class="entry">
            <span>Master</span>
          </span>
        </a>
      </mat-nav-list> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>