<mat-card>
  <mat-card-header>
    <mat-card-title> State List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<div class="mat-elevation-z8">
<table class="table table-striped">
  <thead>
    <tr><td colspan="4"><button style="float: right;" class="btn btn-sm btn-primary me-1" (click)="AddNew()">Add New</button></td> </tr>
      <tr>
          <th style="width: 25%">Id</th>
          <th style="width: 30%">Name</th>
          <th style="width: 30%">Code</th>
          <th style="width: 15%"> Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let state of states">
          <td>{{state.stateId}}</td>
          <td>{{state.stateName}}</td>
          <td>{{state.stateCode}}</td>
          <td style="white-space: nowrap">
              <a routerLink="/master/state-add/{{state.stateId}}" class="btn btn-sm btn-primary me-1">Edit</a>
              <button  *ngIf="state.isDeleted==0" style="background-color: rgb(19, 161, 50);" class="btn btn-sm btn-danger" (click)= "DeleteState(state.stateId)">                 
                  <span>Disable</span>
              </button>
              <button  *ngIf="state.isDeleted==1"  style="background-color: rgb(161, 19, 85);"  class="btn btn-sm btn-danger" (click)= "EnableState(state.stateId)">                 
                <span>Enable</span>
            </button>
          </td>
      </tr>
      <tr *ngIf="!states">
          <td colspan="4" class="text-center">
              <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
      </tr>
  </tbody>
</table>
</div>
  </mat-card-content>
</mat-card>